/* all elemnts and queries set to be centered and mobile-first ready */
body {
    background-color: white;
    margin: 0;
    color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* for centering all responsive content on the application */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* align title */
.title {
    margin: 0;
    text-align: center;
}

/* in case we need to hide an elemnt */
.hide {
    display: none;
}

/* center table contents */
.table {
    margin: none;
    align-items: center;
}

/* center user input */
input {
    text-align: center;
}

/* italic definitions */
td {
    font-style: italic;
}

/* fixed bottom footer */
.bottom {
    position: fixed;
    bottom: 0;
}

/* unused pre-emptive class for a header */
.top {
    position: fixed;
    top: 0;
}

/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}