/* all elemnts and queries set to be centered and mobile-first ready*/
body {
    background-color: white;
    margin: 0;
    color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    margin: 0;
    text-align: center;
}

/* in case we need to hide an elemnt*/
.hide {
    display: none;
}

.table {
    margin: none;
    align-items: center;
}

input {
    text-align: center;
}

/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}